/* BODY STYLES */
body{
    height: auto;
    overflow-x: hidden;
    width: 100vw;
}

/* CONTAINER STYLES */

#container{
   align-items: center;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   width: 100%;
}

/* LINKS STYLES */

a{
    background-color: green;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 10%;
}
a:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.75s ease;
}
a:not(:hover){
    cursor: default;
    transform: scale(1);
    transition: 0.75s ease;
}

/* DELETE BTN STYLES */

#btnDelete{
    background: red;
    border: 0px;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#btnDelete:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.75s ease;
}

#btnDelete:not(:hover){
    cursor: default;
    transform: scale(1);
    transition: 0.75s ease;
}

/* <p> STYLES */

p{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* FORM STYLES */

form{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}

#back{
    background-color: red;
    border: 0px;
    color: white;
    padding: 2%;
}

/* 003campeones */

/* FIELDS CONTAINER STYLES */

#fields-container{
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* FIELDS STYLES */

#fields{
    align-items: center;
    background-color: grey;
    color: white;
    display: flex;
    flex-flow: row;
    height: 15vh;
    justify-content: center;
    width: 100%;
}

.field{
    text-align: center;
    width: 100%;
}

/* ARROWS STYLES */

#asc{
    text-align: center;
    transform: rotate(90deg);
    width: 10%;
}
#desc{
    transform: rotate(-90deg);
    margin-left: 5%;
}

#asc:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(90deg);
}
#desc:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-90deg);
}