body{
    height: auto;
    overflow-x: hidden;
    width: 100vw;
}

#container{
   display: flex;
   flex-flow: row wrap;
   width: 100%;
   justify-content: center;
   align-items: center;
}
.sub-container{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

a{
    color: white;
    padding: 10px;
    margin-left: 5%;
    text-align: center;
    text-decoration: none;
    width: 10%;
    font-size: 1.5rem;
}
a:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.75s ease;
}
a:not(:hover){
    cursor: default;
    transform: scale(1);
    transition: 0.75s ease;
}



#edit{
    background-color: green;
    margin-bottom: 5px;
}
#btnDelete{
    background: red;
    color: white;
    padding: 10px;
    margin-left: 5%;
    text-align: center;
    text-decoration: none;
    width: 10%;
    font-size: 1.5rem;
    border: 0px;
}

#btnDelete:hover{
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.75s ease;
}

#btnDelete:not(:hover){
    cursor: default;
    transform: scale(1);
    transition: 0.75s ease;
}


p{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
form{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
label{
    font-weight: bold;
    font-size: 1.5em;
}

#back{
    background-color: red;
    color: white;
    border: 0px;
    padding: 2%;
}